<!DOCTYPE HTML>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Category:{{ category_name }} - Cookie Box</title>
<link rel="stylesheet" type="text/css" href="../../style.css?v={{ css_timestamp }}">
<script defer id="app" src="../../funcs.js" data-mainpage="false" data-lang="ja"></script>
</head>
<body>
<div class="container">
<div id="sidebar"></div>
<main class="main">
<div id="smartphone-header"></div>
<div class="item">
<h1>Category:{{ category_name }}</h1>


<h2>カテゴリ「{{ category_name }}」にある記事</h2>
{{ n_articles }} 本の記事がこのカテゴリに属しています。
{{ list_article }}

</div>
</main>
</div>
</body>
</html>
