<!DOCTYPE HTML>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Cookie Box</title>
<link rel="stylesheet" type="text/css" href="../style.css?v={{ css_timestamp }}">
<script id="app" src="../funcs.js" defer data-mainpage="true" data-lang="ja"></script>
</head>
<body>
<div class="container">
<div id="sidebar">

<h5 id="header-externallink">外部リンク</h5>
<p><a href="https://cookie-box.hatenablog.com/">はてなブログ</a></p>
<p><a href="https://qiita.com/CookieBox26">Qiita</a></p>
</div>

<main class="main">
<div id="smartphone-header"></div>
<div class="item">
<h1 class="title">Welcome to Cookie Box</h1>
このサイトはデータ分析に関するメモを溜めている百科事典風のノートです。このサイトのリポジトリは<a href="https://github.com/CookieBox26/cookie-box">こちら</a>です。何かありましたらリポジトリの <a href="https://github.com/CookieBox26/cookie-box/issues">Issues</a> にご連絡ください。

<ul class="doughnut">
<li>このアイコンには注意 (落とし穴) を書いています。</li>
</ul>
<ul class="chocolate">
<li>このアイコンにはちょこっとした参考情報を書いています。</li>
</ul>

<h2>更新日が新しい記事</h2>
{{ list_article_recent }}

<h2>カテゴリ一覧</h2>
現在 {{ n_category }} カテゴリがあります。
{{ list_category }}

<h2>記事一覧</h2>
現在 {{ n_article }} 本の記事があります。
{{ list_article }}

</div>
</main>
</div>
</body>
</html>
